body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.navbar-brand {
    padding-left: 40px;
    font-size: 1.5rem;
    font-weight: 500;
}
.nav-item {
    padding: 0 10px
}

.nav-item :hover {
    color: #279EFF;
    text-decoration-line: underline;
}

.navbar {
    padding: 1rem 0 2rem;
}

.heading{
    padding-top: 100px;
    padding-bottom: 30px;
    font-weight: 700;
}

.my-self {
    position: absolute;
    background-color: #279EFF;
    margin: auto;
    padding: 120px 0 250px ;
    color: #fff;
}

.intro-head {
    font-weight: 500;
}

.self-intro {
    padding-top: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 50%;
    margin: auto;
    font-weight: normal;
    display: block;
}

@media (max-width: 850px) {
    .self-intro{
        width: 100%;
        padding: 0 1rem;
    }
}

#element{
    font-size: 1.3rem;
}

.my-image {
    width: 10rem;
    padding-top: 50px;
}



.device-image {
    padding-top: 100px;
    width: 25rem;
}

@media (max-width: 450px){
    .device-image{
        display: none;
    }
    .my-image{
        margin-bottom: 4rem;
    }
}


.skill-img {
    padding-top: 40px;
    margin: auto;
    width: 15%;
}

.skill-deck{
    margin: 3rem 5rem 2rem;
    border-radius: 25px;
    margin-top: 23.75rem;
}


.card-head {
    color: #279EFF;
    font-weight: 500;
}

.card-title {
    padding: 1.4rem 0;
}

.card-info {
    width: 80%;
    padding-bottom: 2rem;
    margin: auto;
}

/* Project section */

.projects{
    padding: 2rem 0;
}

.project-container{
    padding: 3rem 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2rem;
    justify-items: center;
    margin-inline: auto;
}

.project-card {
    max-width: 27rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: 0.6s;
}

.project-pic{
    width: 100%;
    object-fit: contain;
}

.project-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem 1.2rem;
}

.project-title{
    font-size: 1.5rem;
}

.project-details{
    font-weight: normal;
    font-size: 1rem;
}


.project-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-link{
    text-decoration: none;
    font-size: 1rem;
}

.checkout-link:hover{
    text-decoration: underline;
}

@media (max-width: 968px) {
    .project-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .project-container{
        grid-template-columns: 1fr;
    }
}

/* contact-section */

#contact {
    border: 1px solid #279EFF;
    color: #fff;
    background-color: #279EFF;
}

.contact-head {
    padding: 100px 0 30px;
}


.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-icon{
    width: 2.5rem;
    aspect-ratio: 1;
    fill: #fff;
    margin: 2rem 0;
    transition: 0.6s;
}

.social-icon:hover{
    fill: #0e6cb9;
}


.quote {
    font-size: 1.5rem;
    margin-inline: auto;
    width: 25%;
}   

.copyright{
    margin-inline: auto;
}

@media (max-width: 1200px) {
    .heading {
        padding-top: 30px;
    }

}

@media (max-width: 768px) {
    .project-card {
        margin: auto;
        margin-top: 50px;
    }
}